body{
	padding: 0;
	margin: 0;
}
h1 #medaka{
	margin-top: 100px;
	margin-left: 180px;
	color: purple;
}
h1{
	font-size: 30vw;
	padding-top: 0;
	margin-top: 0;
	display: flex;
	justify-content: flex-start;
	box-sizing: content-box;
	background: url(neko.jpg) no-repeat;
}

#medaka{
-webkit-animation:blink 0.5s ease-in-out infinite alternate;
-moz-animation:blink 0.5s ease-in-out infinite alternate;
animation:blink 0.5s ease-in-out infinite alternate;
}

@-webkit-keyframes blink{
	0% {opacity:0;}
	100% {opacity:1;}
}
@-moz-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}